@import "styles/globals.scss";

.mockify-btn {
  background-color: $primary-dark;
  color: $white;
  width:200px;
  margin: 10px;
  float: none;
  left: 35%;
  &:hover {
    background-color: $primary-dark;
  }
}

.copy-api-key-btn {
  position: absolute;
  top: 0;
  right: 0;
  opacity: .5;

  &:hover {
    opacity: .75;
  }
}
.editor-func-btn {
  background-color: $primary-dark;
  color: $white;
  border: none;
  border-radius: 20px;
  width: auto;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  margin: 10px;

  &:hover {
    background-color: $primary-dark;
  }
}
.button--secondary {
  background-color: $secondary;
  color: $white;

  &:hover {
    background-color: $secondary-dark;
  }
}
.mockify-icon-btn {
  background-color: $primary-dark;
  color: $white;
  margin-bottom: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

.table-action-primary {
  background-color: $primary-dark;
  &:hover {
    background-color: $primary-dark;
  }
}

.table-action-secondary {
  background-color: $secondary;
  &:hover {
    background-color: $secondary-dark;
  }
}

.table-action-third {
  background-color: $green;
  &:hover {
    background-color: $green-dark;
  }
}

.table-action {
  color: $white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  padding-left: 4px;
  padding-right: 4px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.policy-add-button {

  margin: 10px;

}

.card-action {
  color: $white;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding-left: 4px;
  padding-right: 4px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.textAndIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $white;
  margin: 5px;
}