@import "styles/globals.scss";

$card-bg-color: #ffffff;
$card-border-radius: 10px;
$card-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

$card-header-bg: #f2f2f2;
$card-content-padding: 20px;

$button-bg: #007bff;
$button-text-color: #ffffff;

.mockify-card-login-page {
  background-color: $card-bg-color;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  display: flex;
  
  .card-header {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }

  .card-content {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-action {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background-color: $button-bg;
      color: $button-text-color;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 1rem;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
      cursor: pointer;
    }
  }
  
}

.titleCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.username {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 5px;
  margin-top: 5px;
}

.projectname {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 5px;
  margin-top: 5px;
}

.cardId {
  font-size: 0.6rem;
  font-family: 'Courier New', Courier, monospace;
  color: #999999;
  top: 0;
}


.titleAndIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleExtra {
  align-self: end;
}

.userCardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardBodyItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.cardBodyItemTitle {
  font-weight: bold;
  margin-right: 8px;
}

.cardBodyItemValue {
  color: #333;
}

.cardActions {
  display: flex;
  margin-top: 16px;
}

.cardAction {
  margin-right: 8px;
  cursor: pointer; 
}

.cardActions {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  justify-content: space-between;
}